<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wistron.test.mapper.StudentMapper">
    <resultMap id="student" type="com.wistron.test.entity.Student"/>
    <parameterMap id="student" type="com.wistron.test.entity.Student"/>

    <!-- 根据Id查询信息 -->
    <select id="getStudent" resultMap="student" parameterType="java.lang.Integer">
        select student.* from student where stu_id = #{stuId}
    </select>

    <!-- 查询全部学生信息 -->
    <select id="getStudents" resultMap="student">
        select student.* from student
    </select>

    <!-- 添加一个信息 -->
    <insert id="insert" parameterMap="student">
        insert into student values(#{stuId},#{stuName},#{stuSex},#{stuTime})
    </insert>
</mapper>